@charset 'utf-8';
@import  "reset.css";

html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: .875rem;
}
body{
    color: rgb(29, 29, 31);
    letter-spacing: -0. 05em;
    /* 스크롤막기 */
    overflow-x: hidden; 
}
p{
    line-height: 1.6;
}
a{
    color: rgb(29, 29, 31);
    text-decoration: none;
}

/* 네비게이션 */

.global-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.75rem;       
    padding: 0 1rem;
}
.local-nav{
    position: absolute;
    top: 2.8125rem;
    left: 0;
    width: 100%;
    height: 3.25rem;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}
.global-nav-link,
.local-nav-links{
    max-width: 62.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.global-nav-link{
    justify-content: space-between;
}
.local-nav-links{
    font-size: 0.8rem;
}
.local-nav-links a:not(.product-name){
    margin-left: 2em;
}
.product-name{
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;

}

/* 메인 */

.scroll-section{
    padding-top: 50vh;
    border: red 1px solid;
}
#scroll-section-0 h1{
    font-size: 4rem;
    text-align: center;
}
.main-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    font-size: 2.5rem;
}
.main-message p{
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.main-message small{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.sticky-elem{
    display: none;
    position: fixed;
    /* position: sticky로 대체 가능*/
    top: 0;
    left: 0;
    width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem{
    display: block;
}




#scroll-section-2 .main-message{
    font-size: 3.5rem;
}
.description{
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
    max-width: 1000px;
    margin: 0 auto;
}
.description strong{
    float: left;
    margin-right: 0.2em;
    font-size: 3rem;
    color: rgb(29, 29, 31);
}
.desc-message{
    width: 50%;
    font-weight: bold;

}
.pin{
    width: 1px;
    height: 6.25rem;
    background: rgb(29, 29, 31);
}
.mid-massage{
    font-size: 2rem;
    color: #888;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}
.mid-massage strong{
    font-weight: bold;
    color: rgb(29, 29, 31);
}
.canvas-caption{
    max-width: 1000px;
    margin: 0 auto;
    color: #888;
    padding: 0 1rem;
    font-size: 1.2rem;
    /* text-align: center; */
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    color: white;
    background-color: darkorange;
}

@media (min-width:1024px){
    #scroll-section-0 h1{
        font-size: 9vw;
    }
    .main-message{
        font-size: 4vw;
    }
    .description{
        font-size: 2rem;
    }
    .description strong{
        font-size: 6rem;
    }
    #scroll-section-2 .main-message{
        font-size: 6vw;
    }
    .main-message small{
        font-size: 1.5vw;
    }
    .desc-message{
        width: 20%;
    }
    .mid-massage{
        font-size: 4vw;
    }
    .canvas-caption{
        font-size: 2rem;
    }
}